
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468475058'); /* IE9*/
  src: url('iconfont.eot?t=1468475058#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468475058') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468475058') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468475058#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chuzufang:before { content: "\1050"; }
.icon-customizelayout:before { content: "\1010"; }
.icon-home:before { content: "\1049"; }
.icon-xiaoche:before { content: "\1042"; }
.icon-clock:before { content: "\2411"; }
.icon-del:before { content: "\2488"; }
.icon-mianji:before { content: "\1005"; }
.icon-dian:before { content: "\1046"; }
.icon-hotel:before { content: "\1047"; }
.icon-daikuan:before { content: "\1045"; }
.icon-map:before { content: "\2410"; }
.icon-down:before { content: "\2035"; }
.icon-location:before { content: "\1044"; }
.icon-edit:before { content: "\1002"; }
.icon-zixun:before { content: "\2345"; }
.icon-tel:before { content: "\2346"; }
.icon-checkboxchecked:before { content: "\2570"; }
.icon-checkboxnormal:before { content: "\2569"; }
.icon-school:before { content: "\1043"; }
.icon-tehui:before { content: "\1048"; }
.icon-mobile:before { content: "\3001"; }
.icon-zixun1:before { content: "\1041"; }
.icon-gouxuan:before { content: "\2571"; }
.icon-top:before { content: "\1001"; }
.icon-tel1:before { content: "\1040"; }
.icon-map1:before { content: "\3598"; }
.icon-xinfang:before { content: "\1038"; }
.icon-wenda:before { content: "\2037"; }
.icon-zan:before { content: "\2036"; }
.icon-cha:before { content: "\2589"; }
.icon-tejiafang:before { content: "\2034"; }
.icon-person1:before { content: "\1009"; }
.icon-person2:before { content: "\3000"; }
.icon-weixin:before { content: "\1003"; }
.icon-zixun2:before { content: "\2033"; }
.icon-calandor:before { content: "\1027"; }
.icon-collect:before { content: "\1028"; }
.icon-ershoufang:before { content: "\1029"; }
.icon-department:before { content: "\2030"; }
.icon-discount:before { content: "\1031"; }
.icon-notice:before { content: "\1026"; }
.icon-edit1:before { content: "\3003"; }
.icon-house:before { content: "\1016"; }
.icon-menu:before { content: "\1022"; }
.icon-pic:before { content: "\1021"; }
.icon-rightarrow:before { content: "\1020"; }
.icon-search:before { content: "\1014"; }
.icon-service:before { content: "\1018"; }
.icon-share:before { content: "\1017"; }
.icon-shop:before { content: "\1025"; }
.icon-shop2:before { content: "\1015"; }
.icon-tel23:before { content: "\1024"; }
.icon-xiezilou:before { content: "\1023"; }
.icon-xuequ:before { content: "\1019"; }
.icon-top1:before { content: "\1013"; }
.icon-location1:before { content: "\1008"; }
.icon-te:before { content: "\1007"; }
.icon-price:before { content: "\1011"; }
.icon-food:before { content: "\1004"; }
.icon-jiankang:before { content: "\1006"; }
.icon-jiaotong:before { content: "\1012"; }
.icon-back:before { content: "\2568"; }
.icon-tel2:before { content: "\3658"; }
.icon-location2:before { content: "\3659"; }
.icon-school1:before { content: "\2985"; }
.icon-calculator:before { content: "\2546"; }
.icon-rili:before { content: "\2347"; }
.icon-money:before { content: "\3002"; }
.icon-house1:before { content: "\3004"; }
