
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477553080'); /* IE9*/
  src: url('iconfont.eot?t=1477553080#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477553080') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477553080') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477553080#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before { content: "\e60b"; }
.icon-dianhua:before { content: "\e609"; }
.icon-closed:before { content: "\e60d"; }
.icon-hotel:before { content: "\e604"; }
.icon-down:before { content: "\e60f"; }
.icon-location:before { content: "\e610"; }
.icon-shoucang:before { content: "\e619"; }
.icon-menu311:before { content: "\e608"; }
.icon-pic:before { content: "\e615"; }
.icon-collect_act:before { content: "\e600"; }
.icon-icon:before { content: "\e616"; }
.icon-top:before { content: "\e605"; }
.icon-jubao:before { content: "\e601"; }
.icon-fabu:before { content: "\e602"; }
.icon-map:before { content: "\e606"; }
.icon-jiantou:before { content: "\e611"; }
.icon-jiantou-copy:before { content: "\e60c"; }
.icon-location1:before { content: "\e607"; }
.icon-danpinxiaoshouzoushi:before { content: "\e617"; }
.icon-pdianping:before { content: "\e603"; }
.icon-closed1:before { content: "\e60e"; }
.icon-jiantoushang:before { content: "\e612"; }
.icon-qq:before { content: "\e614"; }
.icon-change:before { content: "\e60a"; }
.icon-jiantou1:before { content: "\e613"; }
.icon-maps:before { content: "\e618"; }
