html {-webkit-text-size-adjust: 100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0;padding:0; }
body,button,input,select,textarea {font-size:12px;font-family: "microsoft yahei","Helvetica Neue", Helvetica, sans-serif;color: #333;}
body {-webkit-overflow-scrolling: touch; }
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none;}
svg:not(:root) {overflow: hidden;}
hr {height: 0;box-sizing: content-box;}
pre {overflow: auto;}
code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}
button,select {text-transform: none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight: normal;}
em,i{font-style:normal}
small {font-size:12px}
ul, ol, li {list-style: none; }
a {background: transparent;color:#333;}
a, a:visited {text-decoration: none;}
a:active,a:hover {outline: 0;}
a:link,a:visited,a:hover,a:active{color:#333;}
legend {color:#000}
optgroup {font-weight: bold;}
fieldset,img {border:0}
img {-ms-interpolation-mode:bicubic;display:block;}
fieldset {padding: .35em .625em .75em;margin: 0 2px;border: 1px solid #c0c0c0;}
table {border-collapse:collapse;border-spacing:0}
textarea {resize:vertical}
img{max-width: 100%;}
button, 
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
}


input[type="radio"],input[type="number"] {
  box-sizing: border-box;
  padding: 0;
  -webkit-appearance:none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type='text']{
    outline: none;
    border:none;
}
$bc1:#eee;
$bc2:#ddd;
$maincolor:#d51938;
body{background-color: #fff;}
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot?t=1462324806'); /* IE9*/
  src: url('iconfont/iconfont.eot?t=1462324806#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff?t=1462324806') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf?t=1462324806') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1462324806#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.content-box{
  position: relative;width: 100%; overflow: hidden; background-color: #fff;
}
.container{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.top-mark{background:linear-gradient(top, #000, transparent); background:-webkit-linear-gradient(top, #000, transparent); background:-moz-linear-gradient(top, #000, transparent);position: absolute;top:0;height: 1rem;width: 100%;opacity: .6;
filter: alpha(opacity=60);z-index:3;}
.bottom-mark{background:linear-gradient(bottom, #000, transparent); background:-webkit-linear-gradient(bottom, #000, transparent); background:-moz-linear-gradient(bottom, #000, transparent);position: absolute;bottom:0;height: 1rem;width: 100%;opacity: .6;
filter: alpha(opacity=60);z-index:3;}

/*---------------------------------------------------*/

.blank10 {clear: both;height:5px;overflow: hidden; }
.blank20 {clear: both;height:10px;overflow: hidden; }
.blank30 {clear: both;height:15px;overflow: hidden; }
.blank40 {clear: both;height:20px;overflow: hidden; }
.blank50 {clear: both;height:25px;overflow: hidden; }
.blank80 {clear: both;height:40px;overflow: hidden; }
.blank120{clear: both;height:70px;overflow: hidden;}
.bg-gray{background-color: #f2f2f2;}
.tac {text-align: center; }
.pr{ position: relative;}
.fl {float: left;}
.fr {float: right;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px!important;}
.fs20{ font-size: 20px;}
.fs24{font-size: 24px!important;}
.fs28{font-size: 28px;}
.fs32{font-size: 32px;}
sup{font-size: 12px;}
.gc3 {color: #333!important; }
.gc9 {color: #999!important; }
.gc6 {color: #666!important; }
.blue{color:#446fa5!important;}
.red{color:#FF2626!important;}
.c-red{color: #D21938!important;}
.c-gc{color:#ccc!important;}
.c-green{color:#01AF63!important;} 
.c-white{color:#fff!important;}
.c-g4{color: #444!important;}
.c-org{color: #FF794C!important;}
.bg70{ background-color: #707070;}
.bg-fff{ background-color: #fff;}
.bg-f7{ background-color: #f7f7f7;}
.p0{padding:0!important;}
.mt10{margin-top:5px;}
.ml10{margin-left:5px;}
.mr10{margin-right:5px;}
.mb10{margin-bottom:5px;}
.mt10{margin-top:5px;}
.mt20{ margin-top:10px;}
.ml20{margin-left: 10px;}
.mr20{margin-right:10px;}
.mb20{margin-bottom:10px;}
.mt30{ margin-top: .3rem;}
.pt20{ padding-top: 10px;}
.pb20{ padding-bottom: 10px;}
.dn{display:none;}
.db{display: block;}
*{-webkit-tap-highlight-color:rgba(255,0,0,0)}
.clearfix:after {content: " ";clear: both;display: block;height: 0;visibility: hidden; }

.bodypb{padding-bottom: 1rem;}
.gborder-box,.gborder-box *{-webkit-box-sizing: border-box;box-sizing: border-box;outline: none;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;}
.text-overflow{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}


.gw{
    padding:0 10px;
}
.v-middle{position: relative; top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.title-bar{height:29px;line-height:29px;  padding:10px 3%; z-index:5; width: 94%;
  position:absolute; top: 0;
  .header-logo{display:block; height: 25px;
    a{
      display:block;
      height:25px;
    }
    img{max-width: 120px;
      position: relative; top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);
    }
  }
  .operate{ text-align: right; height: 25px; line-height:25px;position: absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);
    a{font-size:22px; color:#fff; margin-right:10px;
    }
  }
  .search{margin-left: 20px;
    .search-frame{float:left; background-color: #fff;border-radius: 4px;width: 75%; height:29px; line-height:29px;padding:0 10px; 
      input{display:inline-block;border:none; font-size: 12px; width: 90%;height:16px;line-height:16px;padding:5px 0;overflow: hidden;-webkit-text-stroke-width: 0;}
      i{color:#999; font-size: 16px;    position: relative;
    top: 2px;}
    }
    .sure-btn{display:block;float:right;color: #fff; font-size: 17px; background-color: #d51938; border: none;width:50px;height:29px; line-height: 29px;}
  }
  h1{
    text-align:center;
    font-size:17px;
    color:#fff;padding:0 26px 0 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
  }
  .back{position:absolute; display:block;color:#fff;font-size: 22px;left:5px;

  }
  .icon-exit{width: 30px; height: 26px; background: url(exit.png) no-repeat; background-size: 100% auto;margin-right:10px; display: inline-block;}

}
.title-bar-hasbg{background-color: $maincolor;
    position:relative;
}
.title01{line-height: 40px;border-bottom: 1px solid $bc2; padding:0 10px; 
  h3{font-size: 16px;}
  &.bnone{border-bottom: none;}
  i.te{font-size: 19px;color: #d2d2d2;margin-right: 7px; float: left;}
}
.layer-sub-btn{z-index: 100000;position: absolute;right: 5px; top:1px;}
.layer-overall{width: 100%;height: 100%;background:rgba(0,0,0,.5);position: fixed;z-index:4;display: none;top:0;}
.layer-subnav-bg{width: 100%;height: 100%;background:rgba(255,255,255,.95);position: fixed;z-index:1000;display: none;top:0;left:0;}

.contact{ background-color: #fff;
    bottom: 0;padding:0 10px;height: 40px; line-height: 40px;border:1px solid $bc2;border-width: 1px 0;
  .tel-box{font-size: 15px;} 
}
.ui-pager{ font-size:12px;
  span,a{display:block;float:left;width:33%;height:35px;line-height:34px;border:1px solid #DCDCDC;color:#777;background-color:#DCDCDC;text-align:center;-webkit-box-sizing: border-box;box-sizing: border-box;}
  span.ui-pager-disabled,a.ui-pager-disabled{border:1px solid #DCDCDC;background-color:#DCDCDC;color:#999;}
  a{  background-color: $maincolor;color: #fff; border:none;}
  span{width:30%;border:1px solid #DCDCDC;color:#666;background-color:#fff;margin:0 2%;}
}
.gototop{display:none;position:fixed;bottom:75px;right:10px; width: 45px; height: 45px;background: url(gotop.png) no-repeat; background-size: 100% auto;z-index: 999;} 
footer{
  width: 100%;background: #fff;color: #999;
  font-size: 14px;
  line-height: 20px;
  padding:10px 0;
  text-align: center;
  .links{
    overflow: hidden;font-size: 14px;
        a{
        padding:0 15px;
        height: 20px;
        line-height: .20px;
        color: #999;
        text-decoration: none;
        border-right:1px solid #ccc;
        &.active{color:$maincolor!important;} 
        &:last-of-type{border-right: 0;}
    } 
  }
  p{font-size: 12px;}
}
.suc-box{ position: fixed; display: none;
    top: 50%;
    left: 40%;
    background: rgba(0,0,0,.6);
    color: #fff!important; font-size: 14px;
    border-radius: 5px;
    padding: 20px;}
.error-msg {
    color: #f75444;
}
.nav-box{
  li{float: left; width: 25%; text-align: center;padding:15px 0;    border-bottom: 1px solid $bc1;
    a{font-size: 13px; color: #666;
      i{display: block;width: 44px; height: 44px;line-height: 44px; border-radius: 50%;color: #fff; font-size: 22px;text-align: center;margin:0 auto 0.1rem;
        &.icon01{background-color: #fd593d;}
        &.icon02{background-color: #ffa870;}
        &.icon03{background-color: #1abc9c;}
        &.icon04{background-color: #9b59b6;}
        &.icon05{background-color: #3498db;}
        &.icon06{background-color: #f86f75;}
        &.icon07{background-color: #93c754;}
        &.icon08{background-color: #00b5d4;}
        &.icon09{background-color: #967bdc;}
        &.icon10{background-color: #76c89a;}
        &.icon11{background-color: #fd593d;}
        &.icon12{background-color: #ffb51f;}
        &.icon13{background-color: #7bc6b9;}
        &.icon14{background-color: #f3c237;}
        &.icon15{background-color: #53a4c9;}
        &.icon16{background-color: #f39482;}
      }
    }
  }
}




.dropload-down{padding:10px 0;text-align: center;  background: #f7f7f7;
  .dropload-refresh,.dropload-load,.dropload-update{font-size: 14px; color: #666;
    .loading{display:inline-block;width: .32rem;height: .34rem;background: url(loading.png) no-repeat; background-size: 100% auto; margin-right: 5px;
    position: relative;top: 3px;    -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-transform: rotate(0deg) translateZ(0);
  -moz-transition-duration: 0ms;
  -moz-animation-name: loading;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;}
  }
  @-webkit-keyframes loading {
 from {
-webkit-transform:rotate(0deg) translateZ(0);
}
to {
  -webkit-transform: rotate(360deg) translateZ(0);
}
}
@-moz-keyframes loading {
 from {
-moz-transform:rotate(0deg) translateZ(0);
}
to {
  -moz-transform: rotate(360deg) translateZ(0);
}
}
.opacity {
    -webkit-animation: opacity 0.3s linear;
    animation: opacity 0.3s linear;
}
}

.detail-bar{
    width: 100%;
    height: 49px;
    line-height: 50px;
    overflow: hidden;
    background: $maincolor;
    position: fixed;
    bottom: 0;
    padding: 0;
    z-index: 9;
    li{
      width: 33.1%;
      height: auto;
      overflow: hidden;
      float: left;
      border-right:1px solid #fff;text-align: center;
      a{
        font-size: 14px;
        color: #fff;
        text-align: center;
        i{

          font-size:20px; margin-right: 5px;
          
        }
      }
      &:last-child{border-right:0;}
    }
  }


  .p-fixed{
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 2;
}
.mg-20{
  margin-top: 180px;
}
.border-b1{padding-bottom: 1px;}
.content-slider{width: 6.4rem;overflow: hidden;}

.left-side-menu{position: fixed; bottom:15%; left:10px;z-index: 10;
  .icon-backs{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-back.png) no-repeat; 
    background-size: 100% 100%;
  }

}
.right-side-menu{position: fixed; bottom:15%; right:10px;z-index: 10;
  .icon-gotops{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-gotop.png) no-repeat; 
    background-size: 100% 100%;
    margin-top: 15px;
  }
  .icon-homes{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-home.png) no-repeat; 
    background-size: 100% 100%;
    margin-top: 15px;
  }
  .icon-searchs{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-search.png) no-repeat; 
    background-size: 100% 100%;
    margin-top: 15px;
  }
  .icon-menus{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-menu.png) no-repeat; 
    background-size: 100% 100%;
    margin-top: 15px;
  }
  .icon-calls{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-call.png) no-repeat; 
    background-size: 100% 100%;
    margin-top: 15px;
  }
  .icon-users{
    width: 44px; 
    height: 44px; 
    display:block;
    background: url(icon-user.png) no-repeat; 
    background-size: 100% 100%;
    margin-top: 15px;
  }

}
footer{
  width: 6.4rem;
  margin:0 auto;
  border-top:1px solid #d3d3d3;
  background: #fff;
  font-size: 12px;
  line-height: 20px;
  padding:5px 0;
  height: 38px;
  position: fixed;
  bottom:0;
  text-align: center;color:#999;
  z-index:99;
  ul{
    li{float: left; width: 25%; text-align: center;
      a{color:#999!important;
        span{display: block; margin:0 auto;
          &.icon-i-home{
            width: 22px;
            height: 21px;
            background: url(icon-i-home.png) no-repeat;
            background-size: 100% 100%;
            &.on{background: url(icon-i-home-on.png) no-repeat;background-size: 100% 100%;}
          }
          &.icon-i-new{
            width: 21px;
            height: 22px;
            background: url(icon-i-new.png) no-repeat;
            background-size: 100% 100%;
            &.on{background: url(icon-i-new-on.png) no-repeat;background-size: 100% 100%;}
          }
          &.icon-i-resold{
            width: 20px;
            height: 22px;
            background: url(icon-i-resold.png) no-repeat;
            background-size: 100% 100%;
            &.on{background: url(icon-i-resold-on.png) no-repeat;background-size: 100% 100%;}
          }
          &.icon-i-user{
            width: 23px;
            height: 22px;
            background: url(icon-i-user.png) no-repeat;
            background-size: 100% 100%;
            &.on{background: url(icon-i-user-on.png) no-repeat;background-size: 100% 100%;}
          }

        }
      }

  }
}
  
  p{font-size: 12px;}
}