.loupan-wenda-list{width:100%;
  dl{
    background:#fff;
    padding:10px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    dt{
      line-height:21px;
      padding-bottom:10px; font-size: 15px;
    }
    dd.da{
      line-height:1.6;
      color:#666;
      border-top:1px solid #ccc;padding:10px 0;
      margin-top:10px;
    }
    dd.timeblock{
      a{color: #999;}
      height:20px;
      line-height:20px;
      color:#999;
      .time{
        float:right;
      }
    }
  }
}
.ui-tab{width:100%;z-index: 999; background-color: #fff;}
.ui-menu{z-index:1000;
  li{width:50%;-webkit-box-sizing: border-box;box-sizing: border-box; position: relative;display: inline-block;line-height:38px;height: 38px;font-size: 14px;color: #333;float: left;text-align: center;background-color: #fff;border-top:1px solid #eee;border-bottom:1px solid #eee;border-right: 1px solid #eee;white-space: nowrap;
    i{font-size:14px;}
  }
  li.ui-active{color:#D51938;
    i{color:#d51938;}
  }
  li:last-of-type {border-right: 0;}
}
.ui-submenu{display:none;z-index: 999;position:absolute;top:37px;left: 0;margin: 0 auto;width:100%; border-top:1px solid #eee;
  ul{
    li{height: 39px;line-height:39px;font-size:14px;overflow:hidden;border-bottom: 1px solid #eee;
      em{display: block;color: #333;}
    }

  }
  ul.ui-long{background-color: #fff;width:100%;
    li{ position:relative;margin: 0; text-align: left;
      em{ padding-left: 20px;}
      i{display:none;font-size:15px;position: absolute;;right:20px;top:50%; margin-top:-16px;color:#D51938;}
    }
    
    li.ui-active{
      em{color:#d51938!important;}
      i{display: block;}
    }
  }
  ul.ui-type-two{ position: relative;
    li{width:100px;margin: 0;  text-align:center;background-color:#eee;border:none;
      a{display:block;color:#666; position: relative;}
      .ui-long{display:none;position:absolute;left:100px;top:0; background-color:#fff;width:100%;
        li{width:100%;border-bottom: 1px solid #EEEEEE; text-align: left;background-color:#fff; padding-left: 10px;}
      }
    }
    li.ui-active{
      ul{display: block;
      }
      a{color:#000;}
    }
    li.ui-active>a:after {content: "";width:0;
      height:0;
      border-top:1px solid transparent;
      border-bottom:1px solid transparent;
      border-right:1px solid #fff; position: absolute;right: 0;top:50%;margin-top: -9px;}
  }
}
.search-list{position: absolute;top:90px;left:0;width:100%;z-index:999;display:none;
  ul{ background-color:#fff;
    li{ height: 66px; line-height: 66px; border-bottom: 2px solid #D7D7D7; padding:0 20px;font-size: 28px;
      p{width:68%; }
    }
  }
}
.fc-guwen{position: fixed;bottom:0; width: 100%; height: 45px; line-height: 45px;font-size: 12px; background: rgba(0,0,0,.5);
 span{color: #fff;padding-left: 20px; }
a{display: inline-block; width: 1.8rem; height: 25px; line-height:25px; margin-top: 10px; margin-right:10px; text-align: center; background-color: #fff; color: #333;}
}
.zx-box{padding:20px;
  textarea{ width: 96%; border: 1px solid #ddd; height: 135px; font-size: 15px; line-height:2;padding:5px 2%; }
  .input_txt{ width: 96%; border: 1px solid #ddd; height: 135px; font-size: 15px; height: 35px; line-height:35px;padding:5px 2%;}
  .error-txt{
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    color: #f75444;
  }
  .btn{ display: block; width: 100%; height: 40px;line-height: 40px; border: none; background-color: #d51938; color: #fff; font-size: 15px; text-align: center;}
}
.btn-ask{position:fixed;bottom:130px;right:10px; width: 45px; height: 45px;background: url(ask.png) no-repeat; background-size: 100% auto;z-index: 999;} 
