.ui-tab{width: 6.4rem;z-index: 999; background-color: #fff;}
.ui-menu{z-index:1000;padding:0;
  li{overflow:hidden;width:50%;-webkit-box-sizing: border-box;box-sizing: border-box; position: relative;display: inline-block;line-height: 38px;height: 38px;font-size: 14px;color: #333;float: left;text-align: center;background-color: #fff;border-top:.02rem solid #eee;border-bottom:.02rem solid #eee;border-right: .02rem solid #eee;white-space: nowrap;
    i{font-size:14px;}

  }
  li.ui-active{color:#D51938;
    i{color:#d51938;}
  }
  li:last-of-type {border-right: 0;}
}
.ui-submenu{display:none;z-index: 999;position:absolute;top:38px;left: 0;margin: 0 auto;
  ul{
    li{height: 40px;line-height: 40px;font-size:14px;overflow:hidden;border-bottom: 1px solid #eee;
      em{display: block;color: #333; }
    }

  }
  ul.ui-long{background-color: #fff;width:6.4rem;
    li{ position:relative;margin: 0; text-align: left;
      em{ padding-left: 20px;}
      i{display:none;font-size:15px;position: absolute;;right:20px;top:50%; margin-top:-16px;color:#D51938;}
    }
    
    li.ui-active{
      em{color:#d51938!important;}
      i{display: block;}
    }
  }
}

.gcal{
  height:37px;
  line-height:37px;
  font-size:14px;
  color:#666;
  border-bottom:1px solid #dfdfdf;
}
.mask{    width: 100%;
    height: 100%;
    position: fixed;
    top: 2.75rem;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;z-index: 2;}
.plot-list{
  ul{
    li{position: relative;padding:10px 0; border-bottom:1px solid #dfdfdf;line-height:2;
        overflow:hidden;
      .pic{
        float:left;width:120px;
        img{width: 120px; height: 84px;}
      }
      .info{
        padding-left:130px;
        h3{font-size: 16px;height:28px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;}
        
      }
      .right-float{
        position:absolute;
        right:10px;
        top:15px;
      }
    }
    .has-no-img{ padding:10px;
      .info{ margin-left: 0;}
    }
  }
}
