.wapperout{width: 100%;}
.wapper{width: 1150px; margin: 0 auto; overflow: hidden;color: #333;}
.ovisible,.overvisible{overflow:visible!important;}
a{color: #333;}
a:hover{ text-decoration: none; color: #D21938!important;}

@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot?t=1462324806'); /* IE9*/
  src: url('iconfont/iconfont.eot?t=1462324806#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff?t=1462324806') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf?t=1462324806') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1462324806#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fangzi:before { content: "\4777"; }
.icon-home:before { content: "\1589"; }
.icon-shuaxin:before { content: "\1825"; } 
.icon-qq:before { content: "\1568"; }
.icon-weixin:before { content: "\1444"; }
.icon-hotel:before { content: "\1450"; }
.icon-v:before { content: "\5364"; }
.icon-icon2:before { content: "\8987"; }
.icon-huxing:before { content: "\3425"; }
.icon-hetong:before { content: "\1789"; }
.icon-shoucang1:before { content: "\4362"; }
.icon-wuye:before { content: "\4898"; }
.icon-icon:before { content: "\1469"; }
.icon-722dianpingren:before { content: "\8962"; }
.icon-dianpu:before { content: "\8696"; }
.icon-fenxiang:before { content: "\4555"; }
.icon-m-jgMap:before { content: "\2569"; }
.icon-tongzhi:before { content: "\2546"; }
.icon-p-praise-copy:before { content: "\1888"; }
.icon-map2:before { content: "\1456"; }
.icon-qianyuerengou:before { content: "\8985"; }
.icon-shoufangyanfang:before { content: "\6958"; }
.icon-kanfangxuanfang:before { content: "\4859"; }
.icon-zhunbeimaifang:before { content: "\1965"; }
.icon-calculator:before { content: "\3265"; }
.icon-fangchanzhengming:before { content: "\1768"; }
.icon-loufang:before { content: "\1458"; }
.icon-person:before { content: "\1455"; }
.icon-floor:before { content: "\1859"; }
.icon-fangyuan:before { content: "\1896"; }

.c-red{color: #D61F3D!important;}
.c-sred{ color: #D21938!important;}
.c-green{color: #009900!important;}
.c-blue{color: #007FFF!important;}
.gray-bg{ background-color: #F5F5F5;}
.head-icon{ background: url(head_icon.png) no-repeat;}
.group-icon{background: url(group_icon.png) no-repeat;}
.text-through{ text-decoration: line-through;}
.p_current{color: #666;height:40px; line-height:40px; overflow:hidden;
  a{color: #666; margin: 0 5px;}
  span{ margin-left: 5px;}
}
.line{ width: 100%; height: 1px; background-color: #ddd; overflow: hidden;}
.page-box {margin: 10px 0; text-align: center;width: 100%;
  span {border: 1px solid #ddd;cursor: pointer;display: inline-block;width:40px;height: 40px;line-height: 40px;margin-right: 5px; text-align:center;color: #666; background-color: #fff; }
  a:hover {text-decoration: none;display: inline; }
  span:hover,.currents {background: #D51938;color: #fff; border-color:#D51938;}
  span.pre-page,span.next-page{width:63px;}
  span.expand{border:none;color:#ccc;}
  span.expand:hover{ background: none;color:#ccc;}
}
.bg-ee{background-color: #eee;}
#footer {position: relative;line-height: 26px;color: #666;font-size: 12px;text-align: center;
  a {color: #666;}
  p {padding: 15px 0; }
}
.layout-transparent {width: 100%;background-color: #000;opacity: 0.3;position: absolute;left: 0;top: 0;z-index: 1000;display: none;}
.pl15{padding-left: 15px;}
.pic-list{
  li{float:left; font-size:16px;line-height:26px;
    img{display: block;border:1px solid #ccc;}
    a{color: #333;}
  }
}

.title-box{padding:15px 0 15px 0;height:26px;
  h2{float:left;font-size: 26px; line-height: 26px;font-weight: normal; }
  .right-box{ margin-top:10px;color: #999;
    a{ color: #999;}
    em{margin: 0 10px;}
  }
}
.s-title{height: 24px; line-height: 24px; overflow: hidden;
    a{float: right; color: #999;}
}

/* cjm S */
$mw:1150px;
$kanfaniconbg:url('./kanfanicon.png');

/* zujian S */
$mc1:#D41938;
$mc2:#d51938;
$c-grey1:#999;
@mixin inline-block{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
@mixin fl{
    float:left;
    display:inline;
}
@mixin fr{
    float:right;
    display:inline;
}
/* FORM S*/
.k-form-text{
    width:240px;
    height:40px;
    border:1px solid #ccc;
    position:relative;
    padding-left:40px;
    .kanfangicon{
        position:absolute;
        left:15px;
        top:12px;
    }
    input{
        height:39px;
        line-height:39px;
        border:0;
        width:100%;
        font-size:14px;
        color:#666;
    }
}
.k-form-submit{
    input{
        width:130px;
        height:46px;
        background-color:#da5c4f;
        border:0;
        color:#fff;
        font-size:14px;
        cursor:pointer;
    }
}
/* FORM E */
.k-inline-block-middle{
    @include inline-block;
    vertical-align:middle;
    position:relative;
    top:-1px;
    margin-right:5px;
}

.k-em-1{
    color:#D41938;
    font-size:24px;
}
.k-em-2{
    color:#dd0f1f;
}
.k-color-1{
    color:#D41938;
}
.k-btn-1{
    display:block;
    width:180px;
    height:42px;
    font-size:18px;
    line-height:42px;
    background:#d51938;
    color:#fff;
    text-align:center;
    &:hover{
        color:#fff!important;
    }
}
.k-btn-2{
    display:block;
    width:180px;
    height:42px;
    font-size:18px;
    line-height:42px;
    background:#999;
    color:#fff;
    text-align:center;
}
.k-inline-block{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.k-select-1{
    height:26px;
    line-height:26px;
    padding-right:25px!important;
    border:1px solid #f39aaa;
    position:relative;
    .kanfangicon{
        position:absolute;
        right:6px;
        top:6px;
    }
    &:hover{
        height:26px;
        line-height:26px;
        padding-right:25px!important;
        border:1px solid $mc2;
        background:$mc2;
        color:#fff!important;
        position:relative;
        .kanfangicon{
            position:absolute;
            right:6px;
            top:6px;
            background-position:-87px -535px;
        }
    }
}
.k-select-3{
    height:26px;
    line-height:26px;
    border:1px solid #f39aaa;
    padding-left:25px!important;
    position:relative;
    .kanfangicon{
        position:absolute;
        left:7px;
        top:6px;
    }
}
/* zujian E */

.mod-tuangou{
    .title{
        font-size:16px;
        color:#666;
        padding:0 5px 10px 5px;
    }
    .item{
        border-bottom:1px dashed #ccc;padding:5px 5px 10px 5px;
    }
    dl.last{border: none;}
    dt{
        font-size:14px;
        height:30px;
        line-height:30px;
        overflow: hidden;
        position: relative;
        .name{float:left;display: block;width: 145px;}
        .price{
            position:absolute;
            top:0;
            right:0;
            color:#d31938;
            font-size:12px;
        }
    }
    .t1{
        height:30px;
        line-height:30px;
        font-size:12px;
        color:#878787;
        overflow:hidden;
        .privilege{ line-height: 21px;color: #878787;margin:5px 0 10px 0;
          span{ display:block;float:left;height: 21px;text-align: center; background-color: #D41938;color: #fff;padding:0 5px; margin-right: 10px;}
        }
    }
    .t2{
        display:none;padding:0;
        .content{
            width:112px;
            height:74px;
            margin-left:7px;
            position:relative;
            p{
                line-height:20px;
                height:40px;
                overflow:hidden;
            }
            .join{
                position:absolute;
                bottom:0;
                left:0;
                width:60px;
                height:26px;
                line-height:26px;
                background:$mc2;
                font-size:14px;
                text-align:center;
                color:#fff;
            }
          .join:hover{color: #fff!important;}
        }
    }
    .on{background-color: #fff;
        .t1{
            display:none;
        }
        .t2{
            display:block;
        }
    }
}
.small-tuangou{
  .title{padding:5px 5px 10px 5px}
  .t2{
    .content{width: 103px;}
  }
  dt{.name{width:95px;overflow: hidden;}}
}
.kanfangicon{
    background-image:$kanfaniconbg;
    background-repeat:no-repeat;
    display:inline-block;
    *display:inline;
    *zoom:1;
    &.icon-1{
        background-position: 0 0;
        width:25px;
        height:15px;
    }
    &.icon-2{
        background-position: 0 -28px;
        width:18px;
        height:21px;
    }
    &.icon-3{
        background-position: 0 -57px;
        width:20px;
        height:18px;
    }
    &.icon-4{
        width:36px;
        height:36px;
        background-position:0 -92px;
    }
    &.icon-5{
        width:12px;
        height:12px;
        background-position:0 -138px;
    }
    &.icon-6{
        width:10px;
        height:17px;
        background-position:0 -193px;
    }
    &.icon-7{
        width:20px;
        height:20px;
        background-position:0 -160px;
    }
    &.icon-8{
        width:32px;
        height:34px;
        background-position:0 -328px;
    }
    &.icon-9{
        width:33px;
        height:35px;
        background-position:0 -383px;
    }
    &.icon-10{
        width:31px;
        height:35px;
        background-position:0 -433px;
    }
    &.icon-11{
        width:13px;
        height:16px;
        background-position:0 -493px;
    }
    &.icon-12{
        width:13px;
        height:13px;
        background-position:0 -535px;
    }
    &.icon-13{
        width:13px;
        height:13px;
        background-position:-87px -535px;
    }

    &.icon-14{
        width:12px;
        height:12px;
        background-position:0 -560px;
    }
    &.icon-15{
        width:20px;
        height:20px;
        background-position:0 -610px;
    }
    &.icon-16{
        width:20px;
        height:20px;
        background-position:-40px -610px;
    }
    &.icon-17{
        width:16px;
        height:16px;
        background-position:0 -708px;
    }
    &.icon-18{
        width:12px;
        height:17px;
        background-position:0 -735px;
    }
    &.icon-19{
        width:14px;
        height:14px;
        background-position:0 -763px;
    }
    &.icon-20{
        width:21px;
        height:21px;
        background-position:0 -790px;
    }
    &.icon-21{
        width:28px;
        height:28px;
        background-position:0 -826px;
    }
    &.icon-22{
        width:29px;
        height:27px;
        background-position:0 -861px;
    }
    &.icon-23{
        width:29px;
        height:32px;
        background-position:0 -900px;
    }
    &.icon-24{
        width:26px;
        height:28px;
        background-position:0 -944px;
    }
    &.icon-25{
        width:27px;
        height:15px;
        background-position:-73px -791px;
    }
    &.icon-26{
        width:7px;
        height:4px;
        background-position:-93px -22px;
    }
    &.icon-27{
        width:16px;
        height:13px;
        background-position:-84px -987px;
    }
  &.icon-28{
    width:25px;
    height:28px;
    background-position:-60px -826px;
  }
  &.icon-29{
    width:32px;
    height:27px;
    background-position:-60px -875px;
  }
  &.icon-30{
    width:24px;
    height:26px;
    background-position:-65px -915px;
  }
}
.float-menu{position:fixed;bottom: 120px;padding-top: 16px;left: 50%;margin-left: 585px;z-index: 1000;
    &.fixed{position:fixed;}
    dl{
        margin-bottom:1px; cursor: pointer;
      width:50px;
        &.item:hover{
            dd{
                display:none;
            }
            dt{
                display:block;
              .online-box,.weixin-box{ display: block;}
              a.online{ color:#fff!important;}
            }
        }
        dd{
            width:48px;
            height:48px;
            background-color:#F4F4F4;
            text-align:center;
            vertical-align:middle;
            border:1px solid #DDD;
            .kanfangicon{
                position:relative;
                top:10px;
            }
          .icon-20{ top: 15px;}
          .icon-25{ top: 16px;}
        }
        dt{
            width:50px;
            height:45px;
            background:#D51938;
            color:#fff;
            font-size:14px;
            text-align:center;
            padding-top:5px;
            display:none;
          position: relative;
        }
      .right-arrow{
        position: absolute; right:0; top:18px;
        width: 0px;
        height: 0px;
        border-left: 8px solid #ccc;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        font-size: 0px;
        span{
          position: relative; right:9px; top:0;
          width: 0px;
          height: 0px;
          border-width:8px 0 8px 8px;
          border-color:transparent transparent transparent #fff;
          border-style:solid dashed solid solid;
          font-size: 0px;
        }
      }
      .online-box{position: absolute; top:0;right:50px; display:none; padding-right:8px;
        ul{ background:#fff;color:#333; width:140px; border:1px solid #e1e1e1;
          li{padding:2px; height: 50px; overflow: hidden; border-bottom:1px dashed #e1e1e1;
            .icon-30{display: block; float: left;  position: relative;top: 10px;left: 10px;}
            a{ float:left;display: block; position: relative;top: 6px;left: 20px; color:#333!important; }
          }
          li:hover{ background-color: #f5f5f5;
            a{color: #333!important;}
          }
          li.last{ border: none;}
        }
      }
      .weixin-box{position: absolute; top:0;right:50px;; display:none;padding-right:8px; text-align: center;
        .weixin-img{width: 140px; font-size: 12px;padding:15px 0;background:#fff;color:#333;border:1px solid #ddd;
          img{display: block; width: 115px; height: 115px; margin: 0 auto 10px;}
          .c-e{color: #e43; font-size: 14px;}
        }

      }
        .gotoTop{
            background-color:#676767;
            vertical-align:middle;
          width: 50px;
          height: 50px;
          border: none;
        }
        &.gotoTop dd, &.gotoTop{
            background-color:#676767;
            cursor:pointer;
        }
      &.gotoTop dd:hover, &.gotoTop:hover{background:#D51938;}


    }
}
/* cjm E */

.item-list{
    .item{
        padding:20px 0;
        border-bottom:1px solid #DDD;
    }
    .pic{
        img{
            width:240px;
        }
        position:relative;
    }
    .num{
        position:absolute;
        right:10px;
        top:10px;
        color:#fff;
        background:#000;
        background:rgba(0,0,0,0.5);
        height:26px;
        line-height:26px;
        padding:0 5px;
        padding-left:25px;
        .icon-27{
            position:absolute;
            left:6px;
            top:7px;
        }
    }
    .content{
        margin-left:23px;
        width:630px;
        font-size:14px;
        position:relative;
        line-height: 32px;
        .price{
            position:absolute;
            right:0;
            top:0;
            color:#999;
            line-height:26px;
            text-align: right;
            .r1{
                
                .k-em-2{
                    font-size:26px;
                    margin-right:5px;
                }
                .unit{
                    color:#999;
                    font-size:14px;
                    .k-super{
                        font-size:10px;
                    }
                }
            }
            .hongbao{
                background: url(hongbao.png) no-repeat;
                padding-left: 30px;
            }
        }
        .title{
            font-size:24px;
            color:#333;
            height:36px;
        }
        .short-tips{
            color:#333;
            height:30px;
        }
        .address{
            height:32px;
            color:#999;
            span{color:#ff6633;}
        }
        .area{
            height:25px;
            color:#999;
            .jjmap{
                color:#339ed1;
                font-size:14px;
                margin-left:12px;
            }
        }
        .phone{
            height:32px;
            font-size:22px;
            color:#d21938;
            margin:4px 0;
        }
        .lpstate{
            color:#666;
            font-size:12px;
            margin:0 8px;
        }
        .state{
            @include inline-block;
            width:7px;
            height:7px;
            margin-right:5px;
            *vertical-align:middle;
            position:relative;
            top:-1px;
            &.state-1{
                background-color:#4595fb;
            }
            &.state-2{
                background-color:#ff706a;
            }
            &.state-3{
                background-color:#de383a;
            }
            &.state-4{
                background-color:#ffae2f;
            }
            &.state-5{
                background-color:#d59972;
            }
        }
        .tags{
            a{
                @include inline-block;
                height:21px;
                line-height:21px;
                color:#999;
                font-size:12px;
                border:1px solid #eee;
                padding:0 5px;
                margin-right:10px;
              background-color: #fff;
            }
          a:hover{ border:1px solid #D41938;}
        }
        .type{ 
            a{color:#999;}
            span{color:#999; margin-right: 5px;}
        }
    }
}


.s-head-bg{background-color: #DA5C4F;}
.s-head{height: 60px;
  .s-head-logo{ margin: 15px 0 0 0;
    img:hover{opacity:1;}
  }
  div.other-web{ padding-left:20px; position: relative;
    .check-now{ font-size: 20px; color: #fff; height: 60px; line-height: 60px; cursor: pointer;
      i{background-position: -1px -813px;width: 15px; height: 9px;display: inline-block; vertical-align: middle; margin-left: 8px;}
    }
    ul{display:none;width:84px;padding:0 8px;background-color: #da5c4f;z-index:1000000; position: absolute;top:60px;left:10px;
      li{height:38px; line-height: 38px;  border-bottom: 1px solid #eb8e9d; padding: 0 10px;
        a{color: #fff; font-size: 14px;}
        a:hover{color: #fff!important;}
      }
      li.last{ border: none;}
    }
  }
  .s-head-nav{ float: left;margin-left:30px;
    li{float: left; line-height: 60px;
      a{display: block; font-size: 16px;color: #fff;padding: 0 20px;}
      a:hover{background-color: #E17D72;color: #fff!important;}
    }
    li.current{ background-color: #E17D72; }
  }
  .s-search{float:right;width:210px; height:16px; line-height: 16px; padding: 6px 0; margin:15px 55px 0 0;background-color: #fff;border: 1px solid #DA5C4F;
    .s-search-l{float:left; position: relative;
      .s-search-txt{width: 170px; background-color: #fff; padding: 0 5px;border: none;}
      .s-search-down{z-index:999;display: none; position: absolute;top:22px;left:-1px; border: 1px solid #DA5C4F;padding:0 10px;width:190px;background-color: #fff;
        li{ border-bottom: 1px solid #ddd; height: 36px; line-height: 36px;
          a{display:block;color: #333; font-size: 14px;}
        }
      }
    }
    .s-search-btn{float: right;width: 30px; height:16px; background-position: 0 -380px; border: none;cursor: pointer;}
  }
}

.plot-head-bg{height:110px;background: url(plot_bg.png) repeat-x;}
.plot-head{
  .plot-head-l{float: left;width: 760px;overflow: hidden;
    h2 {float: left;margin-top: 15px;font-size: 28px;font-weight: normal;color: #fff; font-weight: normal;}
    ul.status-tag {float: left;margin: 25px 0 0 30px;overflow: hidden;
      li {float: left;font-size: 14px;color: #fff;margin-right: 20px;
        span {display: inline-block;width: 7px;height: 7px;margin-right: 5px;border: 1px solid #fff; vertical-align:middle; position: relative;top:-1px;*top:1px;}
      }
    }
 
  }
  .plot-head-r{float: right;text-align: right;
    strong {display: block;height: 40px;padding-left: 40px;margin-top: 15px;background-position: 0 -55px;font-size: 28px;color: #fff;font-weight: normal;}
    p {display: block;margin-top: 15px;font-size: 14px;color: #fff;}
  }
}
.blue-square {background: #4595F8;}
.red-square {background:#DE383A;}
.orange-square { background:#FFA12F;}
.pink-square{ background-color: #FF706A;}
.green-square{background: #A8CF55;}
ul.advantage-tag {clear: both; padding-top: 15px;height:25px;overflow: hidden;
  li {float: left;height: 23px;padding: 0 10px;margin-right: 10px;border: 1px solid #fff;font-size: 14px;color: #fff;line-height: 23px;}
}
.plot-nav{ height: 53px; background-color: #F5F5F5;
  ul{padding-left:30px;
    li{float:left;height:50px; line-height:50px;padding: 0 15px; margin: 0 10px;
      a{display: block; color: #666; font-size: 16px;}
    }
    li:hover,li.current{ background-color: #FAE7E4;border-bottom: 3px solid #D51938;}
  }
}

/* pic hover begin */
a img{
    transition:opacity .3s ease;
}
a img:hover{
    opacity:.8;
}
/* pic hover end*/
.dn{
    display:none;
}

/*ico*/
.notice-ico{font-size: 16px; color:#d9d9d9;position: relative;top:2px; margin-right: 5px;}
.map-ico{font-size: 16px; color:#d9d9d9;position: relative;top:2px; margin-right: 5px;}
.v-ico{font-size: 18px;color:#f98d23;position: relative;top:2px; margin-right: 5px;}
.weixin-ico{ font-size: 20px;color:#bbb;position: relative;top:2px; margin-right: 5px;}
.qq-ico{font-size: 16px; color:#bbb;position: relative;top:2px; margin-right: 5px;}
.zan-ico{font-size: 16px; color:#da3550;margin-right: 5px;}
.huxing-ico1{font-size: 20px; color:#ccc;position: relative;top:2px; margin-right: 5px;}
.wuye-ico1{font-size: 20px; color:#ccc;position: relative;top:2px; margin-right: 5px;}
.peitao-ico1{font-size: 20px; color:#ccc;position: relative;top:2px; margin-right: 5px;}
.yang-ico1{font-size: 20px; color:#ccc;position: relative;top:2px; margin-right: 5px;}
.huxing-ico2{font-size: 24px; color:#ff706a;position: relative;top:2px; margin-right: 5px;}  
.wuye-ico2{font-size: 24px; color:#ff706a;position: relative;top:2px; margin-right: 5px;}
.peitao-ico2{font-size: 24px; color:#ff706a;position: relative;top:2px; margin-right: 5px;}
.yang-ico2{font-size: 24px; color:#ff706a;position: relative;top:2px; margin-right: 5px;}
.huxing-ico3{font-size: 28px; color:#ff706a;position: relative;top:3px; margin-right: 5px;}
.wuye-ico3{font-size: 28px; color:#ff706a;position: relative;top:3px; margin-right: 5px;}
.peitao-ico3{font-size: 28px; color:#ff706a;position: relative;top:3px; margin-right: 5px;}
.yang-ico3{font-size: 28px; color:#ff706a;position: relative;top:3px; margin-right: 5px;}
.fangdabai-ico{font-size: 26px; color:#ff706a;position: relative;top:1px; margin-right: 5px;}
.calculator-ico{font-size: 18px; color:#c4c4c4;position: relative;top:2px; margin-right: 5px;}
.share-ico{font-size: 12px;position: relative;top:2px; margin-right: 5px;}
.save-ico{font-size: 15px;position: relative;top:1px; margin-right: 5px;}

.teacher-box{width:530px;display:inline-block;padding:20px 0;
      .pic{float:left;
        img{width:100px; height: 100px; border-radius:50%;}
      }
      .detail-r{float:right;width:415px;
        .name{ font-size:18px;line-height:30px;}
        .items{ font-size:14px; color:#666;line-height:30px; margin-left:15px;}
        a.items:hover{
          i{color:#D21938;}
        }
        .info{ line-height:24px; font-size:14px; color:#666;
          a{line-height:24px; font-size:14px; color:#666;}
        }
        
    }
}

.weixinex{ position: relative;
    .weixin-box{position: absolute;top:25px;right: 0;background-color: #fff;z-index: 10; display: none;padding-top: 10px;
        .top-arrow{
            position: absolute;
            left: 50%;
            margin-left: -4px;
            top: -9px;
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ccc;
            font-size: 0px;
            span{
              position: relative; left:-9px; top:-14px;
              width: 0px;
              height: 0px;
              border-width:0 9px 9px 9px;
              border-color:transparent transparent  #fff transparent;
              border-style:dashed solid solid solid;
              font-size: 0px;
            }
      }
      .weixin-pop-box{width: 140px;
        border:1px solid #ddd; padding:10px 0;
        p{text-align: center;font-size: 12px;}
        img{display: block;width: 100px; height: 100px;margin:0 auto 0;}
      }
    }  
}
.weixinex:hover{
            .weixin-box{display: block;
                p{color:#333;}
            }
        } 
        