.map_icon{background: url(map.png) no-repeat;}
.bc{color: #0446BE;}
.s-head-bg{background-color: #DA5C4F;}
.d-pink-bg{height:50px; line-height:50px;background-color:#FFEFED;}
.s-head{height: 60px;
  .s-head-logo{ margin: 15px 0 0 0;}
  .s-head-nav{ float: left;margin-left:30px;
    li{float: left; line-height: 60px;
      a{display: block; font-size: 16px;color: #fff;padding: 0 20px;}
      a:hover{background-color: #E17D72;}
    }
    li.current{ background-color: #E17D72; }
  }
}
.p_current{height:50px; line-height:50px;}
.search-box{ width: 472px; background-color: #fff;  margin: 7px 0 0 15px;}
div.head-search{
  border: 1px #D51938 solid; width:472px; height:36px;position:relative;
  #search-select{
    background-position:right -245px; background-color: #fff; width: 66px; height: 36px;line-height: 36px; padding:0 10px; cursor: pointer;position: relative;font-size:14px;
    span{display: block;}
    .action-select{
      display: none;background: #fff;border: 1px solid #D51938;border-top: 0px;position: absolute;top:36px;left: -1px;z-index: 9999; color:#333;
      li{
        float: left;display: block;height: 34px;width: 66px;line-height: 34px;padding: 0 10px;
      }
      li:hover{
        background: #f0f0f0;
      }
    }
  }
  input#searchtxt,input.searchtxt{
    outline:0px;border: 0px;width:290px;padding: 4px 0px; height: 28px;line-height: 28px;padding-left: 10px;border-left:1px #c9c9c9 solid;font-size: 14px; background-color: #fff;
  }
  .searchbut{
    position:absolute; right:0;border:0px;background-color: #D51938;cursor: pointer;width: 80px;height: 37px;background-position: 26px -324px;
  }
}
.map_nav{background-position: 0 -392px;background-repeat: repeat-x;height: 35px;line-height: 30px;z-index: 200;padding: 0 10px;
    a{color: #0446BE; margin: 0 5px;}
}
.map_body{margin-top:-5px;}
.map_l{float: left;width: 300px;border-right:1px solid #ddd;padding: 0 18px;
  .inforight{padding:10px 0 0 0;border-bottom: 1px solid #ddd;}
  div.last{border-bottom: none;}
  .result{
    span{display:inline-block;padding: 0 15px;height: 20px;line-height: 20px;color: #fff;}
    span.new_house{background-color: #0446BE;}
  }
  dl{clear:both;
    dt{float:left;width: 65px;font-weight: 700;}
    dd{float: left;width: 235px;
      span{height:18px;line-height:18px;float:left;color: #D80000;font-weight: 700; margin:0 5px 10px;}
      a{display:inline-block;height:18px;line-height:18px;word-wrap:normal;color: #0446BE; padding:0 5px 10px;}
    }
  }
}
.sell_status{float:left;display:block;width: 34px;height: 17px; margin-right: 5px;text-indent: -999px;cursor: pointer;}
.sell_now{background-position: 0 -14px;}
.sell_pre{background-position: 0 -31px;}
.sell_out{background-position: 0 -48px;}
.map_r{margin-left: 337px;
  .mapBodyTool{display:block;width: 21px;height: 62px; position: absolute;top:170px;  text-indent: -999px; cursor: pointer;z-index: 99;}
  .indexMapTool{top:135px;}
  .close{background-position: -27px -328px;left:-1px;}
  .open{background-position: -1px -328px;left:-337px;display:none;}
  #map{width:100%;height:625px;}
}
.map_find{cursor:pointer;height:46px;overflow:visible;width:500px;height:0px;
  .map_sell_now{position: relative;float:left;}
  .left{float:left;width: 5px;height: 30px; }
  .mid{float:left;height: 30px;line-height:30px;background-repeat: repeat-x;padding: 0 10px;color: #fff;}
  .right{float: left;width: 5px;height: 30px;}
  .arrow{width:18px;height:12px;position: absolute;top:29px;left:0;}
}
.map_sell_now{height:46px;
  .left{background-position: 0 -66px;}
  .mid{background-position: 0 -98px;}
  .right{background-position: -8px -66px;}
  .arrow{background-position: -15px -73px;}
}
.map_sell_pre{height:46px;
  .left{background-position: 0 -195px;}
  .mid{background-position: 0 -227px;}
  .right{background-position: -8px -195px;}
  .arrow{background-position: -17px -203px;}
}
.map_sell_out{height:46px;
  .left{background-position: 0 -260px;}
  .mid{background-position: 0 -295px;}
  .right{background-position: -8px -260px;}
  .arrow{background-position: -15px -270px;}
}
.map_sell_hover{height:46px;
  .left{background-position: 0 -130px;}
  .mid{background-position: 0 -162px;}
  .right{background-position: -9px -130px;}
  .arrow{background-position: -17px -137px;}
}
.new_house_pop{width: 430px;border: 1px solid #ddd;padding: 13px;background-color: #fff;
  .close{display:block;width: 10px;height: 10px;background-position: 0 0;}
  .tuan{display:block;width: 62px;height: 24px;line-height: 24px;background-position: 0 -434px;color: #fff; text-align: center;}
  .tuan:hover{text-decoration: none;}
  dl{
    dt{float: left;width: 120px;height: 90px; margin-right: 10px;}
    dd{float:left;width: 300px;
      p{color: #333;line-height: 22px;}
    }
  }
  .tags{border-top:1px dashed #ddd;padding-top:10px;
    a{float: left;display: block;margin-right: 10px;color: #0446BE;}
  }
}
.short_sel{width: 65px;border: 1px solid #ccc;color: #666;}
.long_sel{width: 80px;border: 1px solid #ccc;color: #666;}
.esf_pop{width: 510px;border: 1px solid #ddd;padding: 9px;background-color: #fff;
  .close{display:block;width: 10px;height: 10px;background-position: 0 0;}
  dl{
    dt{float: left;width: 100px;overflow:hidden;margin-right: 10px;
      img{width: 100px;height: 75px;}
    }
    dd{float:left;width: 190px;
      p{color: #333;line-height: 24px;}
    }
  }
  .filter{height: 30px;line-height: 30px;background-color: #E8EEFA;
    select{width: 70px;height: 22px;line-height: 22px;float: left;margin:4px 5px 0 0;}
  }
  table{
    td{padding:10px 5px 10px 0;color: #333;text-align: left;border-bottom:1px dashed #ddd;
      img{width: 60px;height:45px; }
      .subject{width: 100%;height:1.8em;overflow: hidden;display: block;}
    }
  }
}

/* 下拉搜索 */
.fang_search_box {
  width: 290px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 34px;
  left: 91px;
  padding: 5px 0px;
  z-index: 999; }
  .fang_search_box p {
    line-height: 22px;
    overflow: hidden;
    padding: 0 10px; }
    .fang_search_box p a {
      width: 100px;
      margin-right: 10px;
      cursor: pointer; }
    .fang_search_box p span {
      width: 180px; }
  .fang_search_box li.ac_over p {
    background-color: #eee; }

.map-init{
    width:70px;
    height:70px;
    border-radius:100%;
    color:#fff;
    font-size:12px;
    .map-text{
        height:40px;
        line-height:20px;
        padding-top:15px;
    }
    p{
        text-align:center;
    }
    background:url('./map-area.png') 0 0 no-repeat;
}
