.wapper{ width: 1000px; margin: 0 auto;}
.b_frame{ border: 5px solid #ff879a; padding:20px 0;}
#shouse_left{ float: left; width:260px; height: 180px;padding:0 20px; overflow:hidden;
  p{ line-height: 1.8}
  .text-form{ width: 260px;margin:10px 0;
   input{ width: 238px; height: 36px; line-height: 36px; margin-bottom: 18px; padding: 0 10px; color: #999; font-size: 14px; border: 1px solid #dfdfdf;}
  .btn_apply{ display: block;  width: 260px; height: 40px;line-height: 40px; color: #fff; text-align: center; cursor: pointer; border: 0; background-color: #e9425d;}
  }}
#shouse_right{ float: left; width: 678px; height: 180px; padding: 0;overflow:hidden;
  .box-left{float: left;width:345px;padding:0 10px 0 15px;border-right: 1px dashed #dddddd; margin-right:20px;
    ul#house_ul {
      li{float:left; display:inline; width:370px; margin-right:10px; margin-bottom:8px;font-size: 14px;line-height:24px;
        span.title{float: left; display: block;width: 60px;  color: #e9425d; margin-right: 5px;}
        div{float: left; display: block; width: 290px;
          a{ color: #000; margin: 0 3px;}
        }
      }
    }
    .fangdabai{ font-size:14px;
      p{ color: #e9425d; }
      .icon-qq{ position:relative; top:5px; margin:0 6px;display:inline-block; width:18px; height:20px;background: url(icon-qq.png) no-repeat;}
      a{float: left; display: block; width: 106px; height: 30px; line-height: 30px; color: #fff; margin-top: 10px; margin-right:8px; border-radius: 4px; }
      .bue{ background-color: #6bc9ff;}
      .org{background-color:#ffb86b;}
      .red{ background-color: #f47373;}
      a:hover{text-decoration: none;}
    }
  }

  .box_right{ float: left; width: 286px;
    ul{ float: left;
      li{margin-bottom: 5px;height: 28px;line-height: 28px; overflow:hidden;
        a{ color: #666; margin-right:8px;}
      }
  }

  }
  .color_red{ color: #e9425d;}
  .ssearch_bar{ width: 290px; height: 40px; line-height: 40px; overflow: hidden;}
  .search_long{width:200px;height:38px;line-height:38px;padding-left:10px;border:1px solid #dfdfdf; border-right:0;color:#999;float:left;}
  .find_house{ border:none;width:70px;height:40px; line-height:40px; background-color: #e9425d; border: 0; text-align:center; color:#fff;cursor:pointer;float:left;}
  .find_house:hover{text-decoration:none;}
}
