/*
Error: Invalid GBK character "\xE9"
        on line 33 of D:\gitosc\svn-fangchan\wap-html-V2\js\mui\sass\icon.scss

28:         }   
29:     }
30: }
31: 
32: 
33: // 通讯录
34: // 空心部分
35: .#{$namespace}icon-contact:before { content: "\e100"; }
36: .#{$namespace}icon-person:before { content: "\e101"; }
37: .#{$namespace}icon-personadd:before { content: "\e102"; }
38: 

Backtrace:
D:\gitosc\svn-fangchan\wap-html-V2\js\mui\sass\icon.scss:33
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE9\"\A         on line 33 of D:\gitosc\svn-fangchan\wap-html-V2\js\mui\sass\icon.scss\A \A 28:         }   \A 29:     }\A 30: }\A 31: \A 32: \A 33: // 通讯录\A 34: // 空心部分\A 35: .#{$namespace}icon-contact:before { content: \"\e100\"; }\A 36: .#{$namespace}icon-person:before { content: \"\e101\"; }\A 37: .#{$namespace}icon-personadd:before { content: \"\e102\"; }\A 38: "; }
