/*
Error: Invalid GBK character "\xE5"
        on line 99 of D:\gitosc\svn-fangchan\wap-html-V2\js\mui\sass\switches.scss

94:             @include transform(translate(16px,0));
95:         }
96:     }
97: }
98: 
99: //增加蓝色开关
100: .#{$namespace}switch-blue {
101:     // Sliding handle
102:     .#{$namespace}switch-handle {
103: //      border: 1px solid rgba(0, 0, 0, .2);
104: //      @include box-shadow(0 3px 3px rgba(0,0,0,.08));

Backtrace:
D:\gitosc\svn-fangchan\wap-html-V2\js\mui\sass\switches.scss:99
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 99 of D:\gitosc\svn-fangchan\wap-html-V2\js\mui\sass\switches.scss\A \A 94:             @include transform(translate(16px,0));\A 95:         }\A 96:     }\A 97: }\A 98: \A 99: //增加蓝色开关\A 100: .#{$namespace}switch-blue {\A 101:     // Sliding handle\A 102:     .#{$namespace}switch-handle {\A 103: //      border: 1px solid rgba(0, 0, 0, .2);\A 104: //      @include box-shadow(0 3px 3px rgba(0,0,0,.08));"; }
