body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}



.select-box .right-box {
  float: right;
}
.select-box .right-box .location {
  width: 48px;
  height: 48px;
  border: 1px solid #dfdfdf;
  float: left;
  margin-right: 10px;
  background: url("../images/location_icon.png") no-repeat 15px 10px;
  cursor: pointer;
}
.select-box .right-box .right-list {
  width: 50px;
  height: 50px;
  background: #d51938;
  float: right;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.search-wrap {
  background: #fff;
}
.search-wrap .search-box {
  padding-bottom: 0;
}


.search-list-box {
  z-index: 101;
}

.select-box {
  overflow: hidden;
  clear: both;
}
.select-box .left-box {
  float: left;
  margin-top: 15px;
}

.select-box .right-box {
  float: right;
}
.select-box .right-box .location {
  width: 48px;
  height: 48px;
  border: 1px solid #dfdfdf;
  float: left;
  margin-right: 10px;
  background: url("../images/location_icon.png") no-repeat 15px 10px;
  cursor: pointer;
}
.select-box .right-box .right-list {
  width: 50px;
  height: 50px;
  background: #d51938;
  float: right;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}







.select-box ul {
  clear: both;
  overflow: hidden;
}

.select-box ul li {
  float: left;
  margin-right: 15px;
}

//
.select-box .map-select option {
  padding-left: 10px;
}

.select-box .map-select {
  width: 88px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #dfdfdf;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-indent: 1em;
  //position: absolute;

}

select::-ms-expand {
  display: none;
}



.select-box .more-select {
  height: 24px;
  border: 1px solid #ff9089;
  color: #ff9089;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  onselectstart:return false;
}

.select-box .delete-all {
  cursor: pointer;
  margin-left: 10px;
}
.select-box .delete-all img {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -1px;
  color: #666;
}

.select-box .more-select, .select-box .delete-all {
  font-size: 14px;
  line-height: 23px;
  width: 100px;
  height: 23px;
}

.map-box {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  #allmap {
    width: 100%;
    height: 100%;
  }
  .map-list {
    position: absolute;
    width: 348px;
    //height: 338px;
    background: #fff;
    border: 1px solid #dfdfdf;
    left: 385px;
    top: 40px;

  }

}

.map-list > .title {
  margin: 15px 20px 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
}

.map-list .title .xiaoqu-header {
  float: left;
}

.map-list .title .xiaoqu-header .xiaoqu {
  float: left;
}

.map-list, .xiaoqu ul {
  overflow: hidden;
  clear: both;
}

.map-list .title .xiaoqu-header .xiaoqu ul li {
  float: left;
}

.map-list .title .xiaoqu-header .xiaoqu .xiaoqu-name {
  font-size: 18px;
  color: #333;
  margin-right: 20px;
}

.map-list .xiaoqu-header .xiaoqu .xiaoqu-area, .map-list .xiaoqu-header .xiaoqu .xiaoqu-road {
  margin-top: 8px;
  color: #666;
  font-size: 12px;
  margin-right: 15px;
}

.map-list .title .number, .map-list .title .number ul {
  overflow: hidden;
  clear: both;
}

.map-list .title .number ul li {
  float: left;
}

.map-list .title .number .esf, .map-list .title .number .zf {
  font-size: 12px;
  color: #666;
  margin-right: 15px;
  margin-top: 10px;
}

.map-list .title .number span {
  color: #d51938;
}

.map-list .title .price {
  margin-top: 15px;
  float: right;
}

.map-list .title .price .num {
  color: #d51938;
  font-size: 24px;
}

.map-list .title .price .len {
  font-size: 14px;
  color: #333;
}

.map-list {
  .condition {
    height: 44px;
    //border-bottom: 1px dotted #dfdfdf;
    line-height: 43px;
    margin: 0 20px;
    font-size: 14px;
    .find-all {
      float: right;
      margin-right: 0;
      span {
        color: #d51938;
      }
    }
  }
  .condition ul {
    overflow: hidden;
  }
  .condition ul li {
    float: left;
    margin-right: 15px;
    color: #333;
  }

  .condition ul .active a {
    font-weight: bold;
  }
}

.map-list {

  .container {
    max-height: 550px;
    overflow: hidden;
    overflow-y: auto;
  }
 .content-box {
   overflow: hidden;
   overflow-y: auto;
   height: 550px;
   .content {
     //padding-right: 20px;
     width: 310px;
     margin-left: 20px;

     .house-list {
       overflow: hidden;
       border-top: 1px dashed #dfdfdf;
       padding: 15px 0;
       .con-name {
         float: right;
         .pri {
           font-size: 18px;
           color: #d51938;

         }
         .pri span {
           font-size: 14px;
           color: #333;
         }
         .huxing {
           font-size: 14px;
           color: #666;
           margin-top: 10px;

         }
         .huxing span {
           display: inline-block;
           margin-right: 10px;
           padding-right: 10px;
           border-right: 1px solid #999;
         }

         //.huxing span:last-child {
         //  border-right: 0;
         //  padding-right: 0;
         //  margin-right: 0;
         //}

         .huxing .last-span {
           margin-right: 0;
           padding-right: 0;
           border-right: 0;
         }
       }
     }
   }
 }

  .content ul {

  }
}



.map-list > .content {

  max-height: 370px;
  overflow-x: auto
}

.map-list > .content ul {
  margin: 0 20px 0 20px;
  clear: both;
  overflow: hidden;;
}

.map-list > .content ul li {
  border-bottom: 1px dotted #dfdfdf;
}

.map-list > .content ul .con-span-1 {
  font-size: 16px;
  color: #333;
  height: 44px;
  line-height: 44px;
}

.map-list > .content ul .con-span-2 {
  background: url("../images/arrow.png") no-repeat 68px 17px;
  padding-right: 20px;
  float: right;
  font-size: 14px;
  color: #999;
  height: 44px;
  line-height: 44px
}





.map-findhouse .search-wrap{ background-color: #fff;}
.map-findhouse .filter{ margin-top: 0px;}
.map-findhouse .select-box,.select-box ul{ overflow: visible;}
.map-findhouse .wapper{overflow: visible; height: 50px;}
.map-findhouse .filter .filter_sel .filter_sel_box li{ width: 100px;}
.map-findhouse .select-box, .select-box ul{ height: 25px; }
.map-findhouse .filter .filter_sel .filter_sel_box li{background-color: #fff;}
.map-findhouse .select-box .last-ul{ margin-top: 10px;margin-bottom: 20px}

.map-marker-msg {
  width: 153px;
  height: 108px;
  border: 1px solid #ff9089;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 10px;

}

.map-view-contnet {
  position: relative;
  //width: 158px;
  //height: 108px;
  //padding: 20px;
}
.map-view-contnet >p{
  font-size: 14px;
  line-height: 30px;
  padding-left: 10px;
}
.map-view-p {
  font-size: 16px !important;
  color: #333;
  //margin-left: 20px;
  //line-height: 30px;
}
.arrow {
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #f30;
  top: 109px;
  left: 70%;
}

.arrow-d {
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #fff;
  /* background-color: #fff; */
  top: 108px;
  left: 70%;
}
.map-num {
  color: #d51938;
  font-size: 14px;
padding-right: 5px;
}