$default-color: #d51938;
$default-font: 14px;
$default-width: 1150px;
$font-color: #666;
$border-color: #dfdfdf;

.main {
  width: 1150px;
  margin: 0 auto;

  .name .icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    //background-image: url("head_icon.fw.png");
    background-position: 0 235px;
  }
  .sp-1 {
    font-size: 28px;
    color: #333;
  }

  .sp-2 {
    font-size: 20px;
    color: #d51938;
    margin-left: 10px;
  }

  .sp-3 {
    font-size: 14px;
    color: #666;
  }

  .tel {
    font-size: 24px;
    color: #d51938;
    font-weight: bold;
  }

  /*  小区地址  */
  .adress {
    overflow: hidden;
    height: 34px;
    line-height: 34px;
  }
  .adress .adress-left {
    float: left;
  }
  .adress .adress-right {
    float: right;
  }
  .but {
    float: left;
    width: 100px;
    height: 32px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
  }
  .but2 {
    float: left;
    width: 32px;
    height: 32px;
    background-color: #f9f9f9;
    margin-left: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .adress .adress-1 {
    color: #999;
    font-size: 14px;
  }

  .adress .adress-left .link-map {
    color: #999;
  }
  .adress ul li {
    font-size: 14px;
    float: left;
  }
  /*  tab-xuanxianka  */
  .tab {
    width: 100%;
    margin-top: 20px;
    .tab-ul {
      border-bottom: 2px solid $default-color;
      border-top: 1px solid $border-color;
      width: 100%;
      li {
        float: left;
        border-right: 1px solid $border-color;
      }
      a {
        display: block;
        width: 129px;
        height: 44px;
        font-size: 15px;
        color: #333;
        text-align: center;
        line-height: 44px;
      }
      .active a {
        color: #fff;
        height: 44px;
        background-color: $default-color;
        border-top: 1px solid $default-color;
        border-bottom: 1px solid $default-color;
        margin-top: -1px;
        margin-bottom: -1px;
      }
    }
    .tab-change {
      display: none
    }
  }
}

.wapper .detail .dea_1i {
  overflow: hidden;
  margin-top: 25px;
  font-size:14px;
}

.wapper .detail .dea_1i ul {
  float: left
}

.wapper .detail .dea_1i .title {
  color: #333;
  width: 60px
}

.wapper .detail .dea_1i .title-2 {
  margin-left: 60px
}

.wapper .detail .dea_1i .content {
  color: #999;
  margin-left: 20px;
  width:260px;
}

.wapper .detail .dea_1i ul li {
  float: left
}

.wapper .common-title {
  margin-top: 20px
}

.wapper .container {
  margin-top: 20px;
  font-size:14px;
  line-height: 2;
}

.wapper .container p {
  line-height: 40px;
  color: #333;
  //margin-top: 20px;
  text-indent: 2em;
  font-size: 14px
}

.wapper .container-2 p {
  color: #333;
  margin-top: 20px;
  font-size: 14px;
}